* {
    background-color: #F6F4D2;
    color: #F19C79;
    align-content: center;
}

#frontPage {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

body {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    align-content: center;
}
div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-align: left;
}

.vertical {

    margin-left: 2rem;
    margin-right: 2rem;
    border-left: 6px solid #D4E09B;
    border-right: 6px solid #D4E09B;
    height: 45rem;
    position:relative;
    /* left: 50%; */
}

header {
    font-family: 'Lobster', cursive;
    font-size: 60pt;
    text-align: center;
    align-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 61%;
}

#backHome{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;
    align-content: center;
}

.links {
    font-family: 'Lobster', cursive;
    font-size: 15pt;
    color: #A44A3F;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.links:hover {
    color: #CBDFBD;
}

#cityList {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;
    width: 100%;
    justify-content: space-between;
}

#seattleUl{
    display: flex;
}
h2 {
    align-content: center;
    margin: 2rem;
}

.salmon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#cookieJar {
    display:block;
    margin-left: auto;
    margin-right: auto;

}

table, th, td {
    border: 2px solid #CBDFBD;
  }

table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;

}

button:hover {
    color: #A44A3F;
    background-color: #CBDFBD;
}